<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.user.entity.UserPo">
        <result column="user_id" property="userId"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_account, user_name
    </sql>


    <!--这个默认生成的selectPage得删了，不然调用BaseMapper.selectPage就会用到这个，而不是通用的-->
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <select id="queryListBySQL" parameterType="com.example.user.entity.UserParamQuery" resultType="com.example.user.entity.UserPo">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="param.userName != null and param.userName != ''">
                and user_name like #{param.userName}
            </if>
        </where>
    </select>

</mapper>
